<p id="notice"><%= notice %></p>

<p>
  <b>Folder:</b>
  <%= @view_mapping.folder_id %>
</p>

<p>
  <b>User:</b>
  <%= @view_mapping.user_id %>
</p>

<p>
  <b>View:</b>
  <%= @view_mapping.view_id %>
</p>


<%= link_to 'Edit', edit_view_mapping_path(@view_mapping) %> |
<%= link_to 'Back', view_mappings_path %>
