<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>VersaFile - <%=@zone.name%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="/javascripts/dojo-<%= configatron.mobile.dojo.version %>/dojox/mobile/themes/versaphone/versaphone.css"></link>
    <link rel="stylesheet" type="text/css" href="/stylesheets/VersaFile_Mobile.css"></link>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />

<% if ENV['RAILS_ENV'] != 'development' || !ENV['FORCE_OPTIMIZE'].nil? %>

<script type="text/javascript">

var djConfig = {
    isDebug: false,
    cacheBust: '<%= "%d.%02d.%02d.%04d" % [configatron.bfree.major_version, configatron.bfree.minor_version, configatron.bfree.revision_number, configatron.bfree.build_number] %>'
};

</script>
<script type="text/javascript" src="/javascripts/dojo-<%= configatron.mobile.dojo.version %>/dojo/dojo.js"></script >
<script type="text/javascript" src="/javascripts/dojo-<%= configatron.mobile.dojo.version %>/dojo/versa_mobile.js"></script>

<% else %>

<script type="text/javascript">

	var djConfig = {
        isDebug: true
	};

</script>
<script type="text/javascript" src="/javascripts/dojo-<%= configatron.mobile.dojo.version %>/dojo/dojo.js"></script>

<% end %>

<script type="text/javascript">

function logout(){
    zone.logoff();
    var cmd = 'window.location.reload(true)';
    setTimeout(cmd, 1000);
}

function wdgLoad_onShow(){
    setTimeout('loadMain()', 1000);
}

function _wdgMain_onLoad(wdg){
//    wdg.startup();
//    dijit.byId('wdgLoad').hide();
}
function _wdgMain_onWorking(){
    setTimeout('dijit.byId(\'wdgLoad\').show();', 100);
}


require(["dojo/domReady!",
         'versa/_proto'], function(){
    require(["dojox/mobile/parser",
             "dojox/mobile",
             "dojox/mobile/compat"], function(parser) {
        parser.parse();
    });

    require(['versa/api/XhrHelper',
             'versa/api/Zones',
             'versa/widget/zone/mobile/Show',
             'versa/VersaFile'], function(){
        versa.api.XhrHelper.authenticity_token = '<%= form_authenticity_token %>';

        var zones = new versa.api.Zones();
        var myzone = zones.fetchById({
            id: '<%= @zone.subdomain %>'
        });

        var zoneUsers = myzone.getUsers();
        var zoneUser = zoneUsers.fetchById({
            id: parseInt('<%= @active_user.id %>')
        });

        var zoneGroups = myzone.getGroups();
        var zoneGroup = zoneGroups.fetchById({
            id: parseInt('<%= @active_group.id %>')
        });

        var libraries = myzone.getLibraries();
        var library = libraries.fetchById({
            id: parseInt('<%= @library.id %>')
        });
        library.zone = myzone;

        _wdgShow = new versa.widget.zone.mobile.Show({
            zone: myzone,
            activeUser: zoneUser,
            activeGroup: zoneGroup,
            activeLibrary: library,
            onLoad: _wdgMain_onLoad,
            onWorking: _wdgMain_onWorking,
            version: '<%="#{configatron.bfree.major_version}.#{configatron.bfree.minor_version}.#{configatron.bfree.revision_number}.#{configatron.bfree.build_number}"%>'
        });

        _wdgShow.startup();
    });
});

</script>

</head>

<body>
    <div id="loadingView" data-dojo-type="dojox.mobile.View" selected="true">
    </div>
</body>
</html>
